lightning==2.1.0
sqlmodel==0.0.11
pydantic==1.10.4
uvicorn==0.23.2
fastapi==0.85.0
python-multipart==0.0.6
humps==0.2.2
pytube==15.0.0
sentry-sdk==1.21.1
python-magic==0.4.27
pysrt==1.1.2
ffmpeg-python==0.2.0
youtube_dl==2021.12.17
