lightning==2022.10.7
lightning_app==0.6.3
sqlmodel==0.0.8
pydantic==1.10.2
uvicorn==0.18.3
fastapi==0.85.0
python-multipart==0.0.5
humps==0.2.2
pytube==12.1.0
sentry-sdk==1.9.10
python-magic==0.4.27
git+https://github.com/openai/whisper.git
